pyobjc
pyobjc-framework-Quartz; sys_platform=="darwin"
keyboard
git+git://github.com/boppreh/mouse@master#egg=mouse
Pillow
git+git://github.com/samclane/lifxlan@master#egg=lifxlan
numexpr
numpy
mss
pystray